<%= form_for(evaluation, html: { class: "form-horizontal" }) do |f| %>
    <% if evaluation.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(evaluation.errors.count, "error") %> prohibited this evaluation from being saved:</h2>

            <ul>
                <% evaluation.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-group">
        <%= f.label :start_date, "Data inicial", class: "col-md-2 control-label" %>
        <div class="col-sm-5">
            <div class="input-group date" data-provide="datepicker">
                <%= f.date_field :start_date, class: "form-control" %>
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <%= f.label :finish_date, "Data final", class: "col-md-2 control-label" %>
        <div class="col-sm-5">
            <div class="input-group date" data-provide="datepicker">
                <%= f.date_field :finish_date, class: "form-control" %>
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <%= f.label :evaluation_model_id, "Modelo de avaliação", class: "col-md-2 control-label" %>
        <div class="col-sm-5">
            <%= f.collection_select :evaluation_model_id, EvaluationModel.all, :id, :name, { prompt: "- Selecione -" }, class: "form-control" %>
        </div>
    </div>

    <div class="actions">
        <%= f.submit "Salvar", class: "btn btn-primary" %>
    </div>
<% end %>
