<div class="col-md-8 col-md-offset-2">
    <div class="page-header">
        <h1>Avaliações</h1>
    </div>
    <p id="notice"><%= notice %></p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Data de Início</th>
                <th>Data de Término</th>
                <th>Modelo de Avaliação</th>
                <th>Respostas</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <% @evaluations.each do |evaluation| %>
                <tr>
                    <td><%= evaluation.name %></td>
                    <td><%= evaluation.start_date %></td>
                    <td><%= evaluation.finish_date %></td>
                    <td><%= evaluation.evaluation_model.name %></td>
                    <td><%= link_to 'Ver Respostas', evaluation %></td>
                    <td>
                        <div class="btn-toolbar pull-right">
                            <%= link_to edit_evaluation_path(evaluation),
                                data: { toggle: 'tooltip' },
                                title: "Editar Avaliação",
                                class: "btn btn-default" do %>
                                    <i class="glyphicon glyphicon-edit"></i>
                            <% end %>
                            <%= link_to evaluation, method: :delete,
                                data: { toggle: 'tooltip', confirm: 'Tem certeza?' },
                                title: "Editar Avaliação",
                                class: "btn btn-danger" do %>
                                    <i class="glyphicon glyphicon-trash"></i>
                            <% end %>
                        </div>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <div>
      <%= will_paginate @evaluations %>
    </div>
    <%= link_to 'Cadastrar nova avaliação', new_evaluation_path, class: "btn btn-primary" %>
</div>
