<%= wicked_pdf_image_tag 'praxis-logo.png', width: "300px", class: "center-block" %>
<h1 class="text-center">Relatório de Avaliação do Membro</h1>
<h5 class="text-center">Avaliação relativa ao ciclo de avaliação do período
  <%= @answer_group.evaluation.evaluation_cycle.duration_period %></h5>
<hr/>

<h3>Geral</h3>
<p><strong>Avaliado:</strong> <%= @user.name %></p>
<p><strong>E-mail:</strong> <%= @user.email%></p>
<p><strong>Diretoria:</strong> <%= @user.sector_name%></p>
<p><strong>Cargo Atual:</strong> <%= @user.positions.institutional_context.first.name %></p>

<br/>

<table class="table table-striped">
    <thead>
      <tr>
        <th class="text-center">Fator Avaliado</th>
        <th class="text-center">Média do fator sem peso</th>
        <th class="text-center">Peso da questão</th>
        <th class="text-center">Média do fator com peso</th>
      </tr>
    </thead>
    <tbody>
      <% @report.each do |report| %>
        <tr style="page-break-inside: avoid;">
          <td class="text-center"><%= report[:evaluation_factor_name] %></td>
          <td class="text-center"><%= report[:answer_average] %></td>
          <td class="text-center"><%= report[:question_weight] %></td>
          <td class="text-center"><%= report[:answer_average_with_question_weight] %></td>
        </tr>
      <% end %>
    </tbody>
</table>

<br/>

<p><strong>Média Final sem peso: <strong><%= @final_averages[:average_without_weight] %></p>
<p><strong>Média Final com peso: <strong><%= @final_averages[:average_with_weight] %></p>
