<style>
  .text-align-center {
    text-align: center !important;
  }
</style>

<%= wicked_pdf_image_tag 'praxis-logo.png', width: "300px", class: "center-block" %>
<h1 class="text-center">Relatório de Avaliação do Membro</h1>
<h5 class="text-center">Avaliação relativa ao ciclo de avaliação do período
  <%= @answer_group.evaluation.evaluation_cycle.duration_period %></h5>
<hr/>

<h3>Geral</h3>
<p><strong>Avaliado:</strong> <%= @user.name %></p>
<p><strong>E-mail:</strong> <%= @user.email%></p>
<p><strong>Diretoria:</strong> <%= @user.sector_name%></p>
<p><strong>Cargo Atual:</strong> <%= @user.positions.institutional_context.first.name %></p>

<br/>

<table class="table table-striped">
    <thead>
      <tr>
        <th>Fator Avaliado</th>
        <th>Média das avaliações</th>
        <th>Peso da questão</th>
        <th>Média com peso</th>
      </tr>
    </thead>
    <tbody>
      <% @report.each do |report| %>
        <tr>
          <td><%= report[:evaluation_factor_name] %></td>
          <td class="text-align-center"><%= report[:answer_average] %></td>
          <td class="text-align-center"><%= report[:question_weight] %></td>
          <td class="text-align-center"><%= report[:answer_average_with_question_weight] %></td>
        </tr>
      <% end %>
    </tbody>
</table>

<br/>

<p><strong>Total Final: <strong><%#= @report.inject(0) { |sum, e| sum += e[:score] } %></p>
<p><strong>Média Final: <strong></p>
