<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-primary">
    <div class="panel-heading">Modelo de Avaliação - Detalhes</div>
    <p id="notice"><%= notice %></p>
    <div class="panel-body">
      <p>
        <strong>Avaliação:</strong>
        <%= @evaluation.name %>
      </p>
      <p>
        <strong>Data de Inicio:</strong>
        <%= @evaluation.start_date %>
      </p>

      <p>
        <strong>Data de Termino:</strong>
        <%= @evaluation.finish_date %>
      </p>

      <p>
        <strong>Modelo de Avaliação:</strong>
        <%= @evaluation.evaluation_model_name %>
      </p>

      <p>
        <strong>Ciclo da Avaliação:</strong>
        <%= @evaluation.evaluation_cycle_duration_period %>
      </p>
      <p>
        <strong>Respostas</strong>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Avaliado</th>
              <th>Avaliador</th>
              <th>Respondido?</th>
            </tr>
          </thead>
          <% @answer_groups.each do |answer_group| %>
            <tbody>
              <tr>
                <td><%= answer_group.evaluation_target.name %></td>
                <td><%= answer_group.user.name %></td>
                <% if answer_group.answered %>
                  <td class="glyphicon glyphicon-ok"></td>
                  <td><%= link_to 'Ver Respostas', answer_group_path(answer_group), class: 'btn btn-default' %></td>
                  <td><%= link_to 'Gerar Relatorio', individual_report_answer_group_path(answer_group, answer_group.user, answer_group.evaluation_target), target: "_blank", class: 'btn btn-success' %></td>
                <% else %>
                  <td class="glyphicon glyphicon-remove"></td>
                  <td colspan="3"></td>
                <% end %>
              </tr>
            </tbody>
          <% end %>
          </table>
        </p>
      </div>

      <div class="panel-footer">
        <%= link_to 'Editar', edit_evaluation_path(@evaluation), class: "btn btn-primary" %>
        <%= link_to 'Back', evaluations_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
