<%= form_for(question, html: { class: "form-horizontal" }) do |f| %>
  <% if question.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Nome", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :name, class: "form-control", placeholder: "Nome da questão" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :evaluation_factor, "Fator de Avaliação", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :evaluation_factor, class: "form-control", placeholder: "Fator a ser avaliado" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, "Descrição", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :option1, "Opção 1", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.text_area :option1, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :option1, "Opção 2", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.text_area :option2, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :option1, "Opção 3", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.text_area :option3, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :option1, "Opção 4", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.text_area :option4, class: "form-control" %>
    </div>
  </div>


  <%= f.submit "Salvar", class: "btn btn-primary" %>
<% end %>
