<%= form_for(question, html: { class: "form-horizontal" }) do |f| %>
  <% if question.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Nome", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :name, class: "form-control", placeholder: "Nome da questão" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :evaluation_factor, "Fator de Avaliação", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :evaluation_factor, class: "form-control", placeholder: "Fator a ser avaliado" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, "Descrição", class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.text_area :description, class: "form-control"  %>
    </div>
  </div>

  <h2>Opções:</h2>
  <%= f.fields_for :options do |fields_form| %>
    <div class="form-group">
      <%= fields_form.label :description, "Opção #{fields_form.index + 1}", class: "col-sm-2 control-label" %>
      <div class="col-sm-4">
        <%= fields_form.text_area :description, class:"form-control" %>
      </div>
    </div>
  <% end %>

  <div>
    <%= f.submit "Salvar", class: "btn btn-primary" %>
  </div>
<% end %>
