<%= form_for(question, html: { class: "form-horizontal" }) do |f| %>
  <% if question.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>
      <ul>
        <% question.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :evaluation_factor_id, "Fator de avaliação", class: "col-sm-2 control-label" %>
    <div class="col-sm-3">
      <%= f.collection_select :evaluation_factor_id, EvaluationFactor.all, :id, :name, { prompt: "- Selecione -" }, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, "Descrição", class: "col-sm-2 control-label" %>
    <div class="col-sm-8">
      <%= f.text_area :description, class: "form-control", placeholder: "Enunciado da questão"  %>
    </div>
  </div>

  <hr/>
  <%= f.fields_for :options do |fields_form| %>
    <%= render "option_fields", f: fields_form %>
  <% end %>

  <div class="col-sm-offset-2">
    <%= link_to_add_association f, :options, class: "btn btn-success" do %>
      <i class="glyphicon glyphicon-plus"></i> Adicionar opção
    <% end %>
  </div>
  <div>
    <%= f.submit "Salvar", class: "btn btn-primary" %>
  </div>
<% end %>
