<h1>Questões</h1>

<p id="notice"><%= notice %></p>
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Fator de Avaliação</th>
      <th>Descrição</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= link_to question.name, question %></td>
        <td><%= question.evaluation_factor %></td>
        <td><%= question.description %></td>
        <td>
          <%= link_to 'Edit', edit_question_path(question) %>
          <%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Tem certeza?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar nova questão', new_question_path, class: "btn btn-primary" %>
