<%= form_for(position, html: { class: "form-horizontal" }) do |f| %>
  <% if position.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(position.errors.count, "error") %> prohibited this position from being saved:</h2>

      <ul>
      <% position.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Nome", class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :name, class: "form-control", placeholder: "Nome do Cargo" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :context, "Tipo de Cargo", class: "col-sm-2 control-label" %>

    <%= f.collection_radio_buttons :context, Position.contexts, :first, :first do |b| %>
      <div class="radio">
        <%= b.label("data-value": b.value) { b.radio_button + translate_context(b.text) } %>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Salvar", class: "btn btn-primary" %>
  </div>
<% end %>
