<div class="col-md-6 col-md-offset-3">
  <div class="page-header">
    <h1>Ciclos de Avaliação</h1>
  </div>

  <% if notice %>
    <div class="alert alert-success">
      <p id="notice"><%= notice %></p>
    </div>
  <% end %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Período</th>
        <th>Situação</th>
        <th>Ranking</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @evaluation_cycles.each do |evaluation_cycle| %>
        <tr>
          <td><%= evaluation_cycle.duration_period %></td>
          <td><%= link_to humanize_progress(evaluation_cycle.finished?), evaluation_cycle_path(evaluation_cycle) %></td>
          <td><%= link_to "Visualizar", ranking_evaluation_cycle_path(evaluation_cycle) %></td>
          <td>
            <div class="pull-right">
              <%= link_to edit_evaluation_cycle_path(evaluation_cycle),
                data: { toggle: 'tooltip' },
                title: "Editar Ciclo de Avaliação",
                class: "btn btn-default" do %>
                <span class="glyphicon glyphicon-edit"></span>
              <% end %>
              <%= link_to evaluation_cycle, method: :delete,
                data: { confirm: 'Tem certeza?', toggle: 'tooltip' },
                title: "Editar Ciclo de Avaliação",
                class: "btn btn-danger" do %>
                  <span class="glyphicon glyphicon-trash"></span>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Começar novo Ciclo de Avaliação', new_evaluation_cycle_path, class: "btn btn-primary" %>
</div>
