<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-primary">
    <div class="panel-heading">Ciclo de Avaliação - Detalhes</div>
    <p id="notice"><%= notice %></p>
    <div class="panel-body">

    <p>
      <strong>Initial date:</strong>
      <%= @evaluation_cycle.initial_date %>
    </p>

    <p>
      <strong>End date:</strong>
      <%= @evaluation_cycle.end_date %>
    </p>

    <div class="panel-footer">
      <%= link_to 'Editar', edit_evaluation_cycle_path(@evaluation_cycle) %>
      <%= link_to 'Voltar', evaluation_cycles_path %>
    </div>
  </div>
</div>
