<%= form_for(sector, html: { class: "form-horizontal" }) do |f| %>
  <% if sector.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(sector.errors.count, "error") %> prohibited this sector from being saved:</h2>

      <ul>
      <% sector.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Nome", class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :name, class: "form-control", placeholder: "Nome da diretoria" %>
    </div>
  </div>

  <%= f.submit "Salvar", class: "btn btn-primary" %>
<% end %>
