<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-primary">
    <div class="panel-heading">Diretoria - Detalhes</div>
    <div class="panel-body">
      <p id="notice"><%= notice %></p>

      <p>
        <b>Nome:</b> <%= @sector.name %>
      </p>
      <p>
        <b>Diretor:</b> <%= @sector.director.name unless @sector.director.nil? %>
      </p>
      <p>
        <b>Membros:</b>
        <ul>
          <% @sector.users.each do |member| %>
            <li><%= member.name %></li>
          <% end %>
        </ul>
      </p>
    </div>
    <div class="panel-footer">
      <%= link_to 'Editar Diretoria', edit_sector_path(@sector), class: "btn btn-primary" %>
      <%= link_to 'Voltar', sectors_path, class: "btn btn-default" %>
    </div>
</div>
