<div class="col-md-6 col-md-offset-3">
  <h1>Membros</h1>
    <p id="notice"><%= notice %></p>
     <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Diretoria</th>
          <th>Cargo</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.name, user %></td>
            <td></td>
            <td><%= user.position_name if user.position_name != nil %> </td>
            <td>
              <div class="btn-group">
                <%= link_to edit_user_path(user), class: "btn btn-default" do %><i class="glyphicon glyphicon-edit"></i><% end %>
                <%= link_to user, method: :delete, data: { confirm: 'Você tem certeza?' }, class: "btn btn-danger" do %><i class="glyphicon glyphicon-trash"></i><% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <%= link_to "Cadastrar novo Membro", new_user_path, class: "btn btn-primary" %>
</div>
