<p id="notice"><%= notice %></p>

<h1>Evaluation Factors</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @evaluation_factors.each do |evaluation_factor| %>
      <tr>
        <td><%= link_to 'Show', evaluation_factor %></td>
        <td><%= link_to 'Edit', edit_evaluation_factor_path(evaluation_factor) %></td>
        <td><%= link_to 'Destroy', evaluation_factor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Evaluation Factor', new_evaluation_factor_path %>
