<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-primary">
    <div class="panel-heading">Projeto - Detalhes</div>
    <div class="panel-body">
      <% unless notice.blank? %>
        <div class="alert alert-success" role="alert"><%= notice %></div>
      <% end %>
      <p>
        <strong>Name: </strong><%= @project.name %>
      </p>
      <p>
        <strong>Membros alocados:</strong>
        <ul>
          <% @project.users.each do |user| %>
            <li><%= link_to user.name, user %></li>
          <% end %>
        </ul>
      </p>
    </div>
    <div class="panel-footer">
      <%= link_to 'Editar Projeto', edit_project_path(@project), class: "btn btn-primary" %>
      <%= link_to 'Voltar', projects_path, class: "btn btn-default" %>
    </div>
  </div>
</div>
