<%= form_for(evaluation_model, html: { class: "form-horizontal" }) do |f| %>
  <% if evaluation_model.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(evaluation_model.errors.count, "error") %> prohibited this evaluation_model from being saved:</h2>
      <ul>
        <% evaluation_model.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Nome", class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :name, class: "form-control", placeholder: "Nome do Modelo de Avaliação" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :sector_id, "Diretoria Alvo", class: "col-sm-2 control-label" %>
    <div class="col-sm-3">
      <%= f.collection_select :sector_id, Sector.all, :id, :name, { prompt: "- Selecione -" }, class: "form-control" %>
    </div>
  </div>

  <%= f.fields_for :question_values do |fields_form| %>
    <%= render "question_value_fields", f: fields_form %>
  <% end %>

  <div class="col-sm-offset-2">
    <%= link_to_add_association f, :question_values, class: "btn btn-success" do %>
      <i class="glyphicon glyphicon-plus"></i> Adicionar Questão
    <% end %>
  </div>

  <div>
    <%= f.submit "Salvar", class: "btn btn-primary pull-right" %>
  </div>
<% end %>
