<div class="col-md-6 col-md-offset-3">
  <div class="page-header">
    <h1>Modelos de Avaliação</h1>
  </div>
  <p id="notice"><%= notice %></p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Diretoria Alvo</th>
        <th>Cargo Alvo</th>
        <th>Questões</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @evaluation_models.each do |evaluation_model| %>
        <tr>
          <td><%= evaluation_model.name %></td>
          <td><%= evaluation_model.sector_name %></td>
          <td><%= evaluation_model.position_name %></td>
          <td><%= link_to 'Ver Questões', evaluation_model %></td>
          <td>
            <div class="btn-toolbar pull-right">
              <%= link_to edit_evaluation_model_path(evaluation_model), class: "btn btn-default" do %><i class="glyphicon glyphicon-edit"></i><% end %>
              <%= link_to evaluation_model, method: :delete, data: { confirm: 'Tem certeza?' } , class: "btn btn-danger" do %><i class="glyphicon glyphicon-trash"></i><% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Cadastrar novo modelo de avaliação', new_evaluation_model_path, class: "btn btn-primary" %>
</div>
