<p id="notice"><%= notice %></p>

<h1>Evaluation Models</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @evaluation_models.each do |evaluation_model| %>
      <tr>
        <td><%= evaluation_model.name %></td>
        <td><%= link_to 'Show', evaluation_model %></td>
        <td><%= link_to 'Edit', edit_evaluation_model_path(evaluation_model) %></td>
        <td><%= link_to 'Destroy', evaluation_model, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Evaluation Model', new_evaluation_model_path %>
