<%= form_for(answer_group) do |f| %>
  <% if answer_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answer_group.errors.count, "error") %> prohibited this answer_group from being saved:</h2>

      <ul>
        <% answer_group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :answers do |fields_form| %>
    <% @question_values.each do |question_value| %>
      <%= render "answer_fields", f: fields_form, question_value: question_value %>
    <% end %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
