<%= form_for(answer_group, html: { class: "form-horizontal" }) do |f| %>
    <% if answer_group.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(answer_group.errors.count, "error") %> prohibited this answer_group from being saved:</h2>

            <ul>
                <% answer_group.errors.full_messages.each do |message| %>
                    <li><%= message if message.exists? %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <% question_values = @question_values.to_a %>
    <%= f.fields_for :answers do |fields_form| %>
        <%= render "answer_fields", f: fields_form, question_value: question_values.first %>
        <% question_values.delete_at(0) %>
    <% end %>

    <br/>
    <%= f.fields_for :evaluation_comment do |evaluation_comment_field| %>
      <%= render "evaluation_comment_field", f: evaluation_comment_field %>
    <% end %>

    <div class="actions">
        <%= f.submit "Responder", class: "btn btn-primary" %>
    </div>
<% end %>
