<div class="col-md-6 col-md-offset-3">
  <div class="page-header">
      <h1>Responder Avaliações</h1>
  </div>
  <p id="notice"><%= notice %></p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Avaliado</th>
        <th>Avaliador</th>
        <th>Responder</th>
      </tr>
    </thead>
    <% @answer_groups.each do |answer_group| %>
      <tbody>
        <tr>
          <td><%= answer_group.evaluation_target.name %></td>
          <td><%= answer_group.user.name %></td>
          <% if answer_group.answered %>
            <td class="glyphicon glyphicon-ok"></td>
            <td><%= link_to 'Ver Respostas', answer_group_path(answer_group), class: 'btn btn-default' %></td>
            <td><%= link_to 'Gerar Relatorio', individual_report_answer_group_path(answer_group.evaluation), target: "_blank", class: 'btn btn-success' %></td>
          <% else %>
            <% if can? :update, answer_group %>
              <td><%= link_to 'Responder', edit_answer_group_path(answer_group), class: 'btn btn-default' %></td>
            <% end %>
          <% end %>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>
