<nav class="praxis-navbar">
  <%= image_tag('praxis_transparent.png', class: 'logo') %>
  <%= image_tag("bolas_cinzas.png", class:'balls') %>
  <h3 class='title'>AVALIAÇÃO DE DESEMPENHO</h3>
  <%= image_tag("bolas_cinzas.png", class:'balls') %>
  <div class='info-box'>
    <p>Olá, <%= current_user.name %>!</p> 
    <div class='icon'><span class="glyphicon glyphicon-user"></span></div>
    <a class='textinline' href="<% users_path(current_user) %>">Ver meus dados</a>
    <br>
    <div class='icon'><span class="glyphicon glyphicon-off"></span></div>
    <%= link_to "Sair", destroy_user_session_path, {method: :delete, class: 'textinline'} %>
    <!-- <a class='links' method="DELETE" href="<% destroy_user_session_path %>">Sair</a> -->
  </div>
</nav>

<nav class="praxis-navbar -margin">
  <div class="navbar_dropdown_item"><span>AAAAA</span>
    <div class="dropdown_items"> <a href="<%= users_path %>">Membros</a> </div>
    <div class="dropdown_items"> <a href="<%= positions_path %>">Cargos</a> </div>
    <div class="dropdown_items"> <a href="<%= sectors_path %>">Diretorias</a> </div>
  </div>
  <div class="navbar_dropdown_item"> <span> Avaliação </span>
    <div class="dropdown_items"> <a href="<%= questions_path %>">Questões</a> </div>
    <div class="dropdown_items"> <a href="<%= evaluations_path %>">Avaliações</a> </div>
    <div class="dropdown_items"> <a href="<%= evaluation_models_path %>">Modelos de Avaliação</a> </div>
  </div>
  <div class="navbar_dropdown_item"> <a href="<%= projects_path %>"> Projetos </a>
  </div>
</nav>
