  <nav class="praxis-navbar">
  <%= image_tag('praxis_transparent.png', class: 'logo') %>
  <%= image_tag("bolas_cinzas.png", class:'balls') %>
  <h3 class='title'>AVALIAÇÃO DE DESEMPENHO</h3>
  <%= image_tag("bolas_cinzas.png", class:'balls') %>
  <div class='info-box'>
    <p>Olá, <%= current_user.name %>!</p> 
    <%= link_to user_path(current_user) do %>
      <i class="glyphicon glyphicon-user"></i>
      <span class="textinline">Ver meus dados</span>
    <% end %>
    <%= link_to unanswered_path do %>
      <span class="badge"><%= current_user.unanswered_answer_group.count %></span>
      <span class="textinline">Responder Avaliações</span>
    <% end %>
    <%= link_to destroy_user_session_path, { method: :delete } do %>
      <i class="glyphicon glyphicon-log-out"></i>
      <span>Sair</span>
    <% end %>
  </div>
</nav>

<nav class="praxis-navbar -margin">
  <div class="navbar_dropdown_item"><a href="<%= users_path %>">Membros</a>
    <div class="dropdown_items"> <a href="<%= positions_path %>">Cargos</a> </div>
    <div class="dropdown_items"> <a href="<%= sectors_path %>">Diretorias</a> </div>
  </div>
  <div class="navbar_dropdown_item"> <a href="<%= evaluations_path %>">Avaliações</a>
    <div class="dropdown_items"> <a href="<%= evaluation_cycles_path %>">Ciclos de Avaliação</a> </div>
    <div class="dropdown_items"> <a href="<%= evaluation_models_path %>">Modelos de Avaliação</a> </div>
    <div class="dropdown_items"> <a href="<%= questions_path %>">Questões</a> </div>
  </div>
  <div class="navbar_dropdown_item"> <a href="<%= projects_path %>"> Projetos </a>
  </div>
</nav>